<div class="d-flex justify-content-center mt-5">
  
    <form (submit)="login()" style="width: 300px;">
      <div class="mb-3 my-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input [(ngModel)]="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
     
      <button id="button" style="width: 100%;" type="submit" class="btn btn-primary mt-4">Log In</button>
      <label *ngIf="showError" for="button" class="form-label text-danger">Incorrect username or password</label>
    </form>
  
</div>

